<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devbook | Sign up!</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
  <div class="login-container">
    <div>
      <form action="" id="signup" class="devbook-form">
        <span>Join Devbook today!</span>
        <div>
          <input type="text" name="name" id="name" placeholder="Enter your name" required="required">
        </div>
        <div>
          <input type="text" name="email" id="email" placeholder="Enter your email" required="required">
        </div>
        <div>
          <input type="text" name="username" id="username" placeholder="Enter a username" required="required">
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Your password goes here"
            required="required">
        </div>
        <div>
          <input type="password" name="password-check" id="password-check" placeholder="Confirm your password"
            required="required">
        </div>
        <a href="/login">Already have an account?</a>
        <button type="submit" class="btn-devbook">Sign up!</button>
      </form>
    </div>
  </div>
</body>

</html>