<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devbook | {{ .User.Name }} </title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
</head>

  <body>
    {{ template "header" }}

    {{ $isFollowedByCurrentUser := false }}

    {{ range .User.Followers }}
      {{ if (eq .ID $.SignedInUserID)}}
        {{ $isFollowedByCurrentUser = true }}
      {{ end }}
    {{ end }}

    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ .User.Name }} ({{ .User.Username }})</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Member since {{ .User.CreatedAt.Format "Jan, 2006" }}
              </h6>

              <p class="card-text">
                <a href="#" data-toggle="modal" data-target="#followers-modal">
                  Followers: {{ len .User.Followers }}
                </a>
              </p>
              <p class="card-text">
                <a href="#" data-toggle="modal" data-target="#following-modal">
                  Following: {{ len .User.Following }}
                </a>
              </p>

              <a href="#" class="card-link">
                {{ if $isFollowedByCurrentUser }}
                <button id="unfollow" class="btn btn-info" data-user-id="{{ .User.ID }}">
                  Unfollow
                </button>
                {{ else }}
                <button id="follow" class="btn btn-info" data-user-id="{{ .User.ID }}">
                  Follow
                </button>
                {{ end }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> {{ .User.Username }}'s posts </h5>
              <p class="card-text">
                {{ range .User.Posts }}
                  {{ template "post-without-permissions" . }}
                {{ else }}
                  <p class="text-muted text-center">
                    This user has no activity to show yet...
                  </p>
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ template "followers-modal" .User }}
    {{ template "following-modal" .User }}
    {{ template "footer" }}
    {{ template "scripts" }}

    <script src="/assets/js/posts.js"></script>
    <script src="/assets/js/user.js"></script>
  </body>
</html>