{{ define "likes" }}
<i class="far fa-heart like-post" style="cursor: pointer;"></i>
 <span> {{ .Likes }} {{ if eq .Likes 1 }} like {{ else }} likes {{ end }} </span>
{{ end }}

{{ define "edit" }}
<a href="/posts/{{ .ID }}/edit" style="text-decoration: none;">
  <i class="far fa-edit"></i>
</a>
{{ end }}

{{ define "delete" }}
<i class="far fa-trash-alt text-danger delete-post" style="cursor: pointer;"></i>
{{ end }}

{{ define "post-header" }}
  <h3 class="mb-4">{{ .Title }}</h3>
  <p class="lead">{{ .Content }}</p>
  <hr class="my-4">
  <p>
    posted {{ .CreatedAt.Format "Jan, 2 '06 at 3:4" }} by <a href="#"> {{ .AuthorUsername }} </a>
  </p>
{{ end }}

{{ define "post-with-permissions" }}
  <div class="jumbotron" data-post-id="{{ .ID }}">
    {{ template "post-header" . }}
    <p>
      {{ template "likes" . }}
    </p>
    <p class="mt-4">
      {{ template "edit" . }}
      {{ template "delete" . }}
    </p>
  </div>
{{ end }}

{{ define "post-without-permissions" }}
  <div class="jumbotron" data-post-id="{{ .ID }}">
    {{ template "post-header" . }}
    <p>
      {{ template "likes" . }}
    </p>
  </div>
{{ end }}